.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    width: 1440;
    height: 91px;
    background-color: #020203;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.header img {
    height: 60.93px;
    width: 178px;
    margin-top: 18px;
    margin-left: 28px;
}