.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #020203;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.header img {
    height: 61px;
    width: 178px;
}