.headerdashboard {
    display: flex;
    flex-direction: column;
    color: #000000;
}

.headerdashboard .text {
    font-size: 48px;  
    font-weight: 500; 
    margin: 0; 
}

.headerdashboard .red {
    color: #FF0101   
}