body {
    margin: 0;
}

.layout {
    font-family: 'Montserrat';
    flex-direction: column;
    display: flex;
    height: 100vh;
    max-width: 1440px;
    max-height: 1224px;
    color:#FFFFFF;

}

.contentContainer {
    margin: 50 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.siderleft {
    width: 117px;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    bottom: 0;
}