.layout {
    margin: 50 auto;
    padding: 0 10px;
    border: 1px;
    font-family: 'Montserrat';
    flex-direction: column;
    display: flex;
    height: 100vh;
    max-width: 1025px;
}

.contentContainer {
    margin: 50 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.siderleft {
    margin: 50 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}