.navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
}

.navigation ul {
  list-style: none;
  /* Supprime les puces de liste */
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 24px;
}

.navigation a {
  font-family: 'Roboto';
  color: white;
  text-decoration: none;
}

.navigation .activeLink {
  text-decoration: underline;
}